apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: azure-keyvault-secrets
spec:
  provider: azure
  parameters:
    usePodIdentity: "false"
    useVMManagedIdentity: "true"
    userAssignedIdentityID: "c3eba9ea-256b-4f17-9088-0d0b7816013d"
    keyvaultName: "photoshare-kv-833"
    objects: |
      array:
        - |
          objectName: database-url
          objectType: secret
        - |
          objectName: jwt-secret
          objectType: secret
        - |
          objectName: redis-url
          objectType: secret
        - |
          objectName: storage-connection-string
          objectType: secret
    tenantId: "6f0b9487-4fa8-42a8-aeb4-bf2e2c22d4e8"
  secretObjects:
    - secretName: photoshare-kv-secrets
      type: Opaque
      data:
        - objectName: database-url
          key: database-url
        - objectName: jwt-secret
          key: jwt-secret
        - objectName: redis-url
          key: redis-url
        - objectName: storage-connection-string
          key: storage-connection-string